/* GENERAL */

* {
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.float {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.centered-text {
    text-align: center;
}

.little-header {
    font-size: 30px;
}


/* HEADER */

.container {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
}

#topbar {
    background-color: #3161e0;
    height: 70px;
    line-height: 70px;
    color: white;
}

#logo {
    vertical-align: middle;
}

.col.small {
    width: 20%;
}

.col.big {
    width: 60%;
}


.col ul {
    list-style-type: none;
}

.col ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.col a {
    color: white;
    font-weight: 500;
    margin: 0 15px;
}

.right-text {
    text-align: right;
}

.btn-small a {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
}

.btn-white a {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.btn-blue a {
    background-color: #8ea1e1;
    color: white;
    border-radius: 20px;
}

header {
    background-color: #3161e0;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#content-hero {
    width: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 46px;
}

#content-hero p {
    line-height: 30px;
    font-weight: 500;
}

#content-hero .btn {
    display: inline-block;
    margin: 30px 10px;
}

.btn-medium a{
    font-size: 17px;
    font-weight: 500;
    padding: 12px 18px;
}

.btn-black a {
    background-color: rgb(31, 30, 30);
    color: white;
    border-radius: 20px;
}

/* MAIN */

.col.medium {
    margin-top: 80px;
    color: rgb(31, 30, 30);
    margin-bottom: 100px;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 25px;
}

.medium50 .cover_main {
    width: 600px;
}

.medium50 {
    width: 70%;
}

.medium25 {
    width: 30%;
}

.main_p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.grey-bg {
    background-color: #dfdfdf;
}

.align-right {
    margin-left: 120px;
}

.black-text {
    color: black;
}

.stars-background {
    background-image:url(../img/stars.svg);
    background-size: contain;
    padding: 40px 0;
}

.padded {
    padding-bottom: 100px;
}

.last-section {
    padding-top: 50px;
}

.wave {
    margin-bottom: -5px;
}

.upside-down {
    transform: rotateX(180deg);
}

/* FOOTER */

footer {
    background-color: black;
}

.col-footer {
    width:calc(60% /4);
}

.col-footer:first-child {
    width: 40%;
}


h6 {
    font-size: 13px;
    padding-top: 90px;
}

.col-footer h4 {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-right: 95px;
}

.col-footer h4, h6 {
    color: #7289da;
}

#language, .menu-footer li {
    font-size: 11px;
}

.menu-footer li {
    line-height: 20px;
}


.fa-chevron-down {
    color: white;
}

.italian-flag {
    width: 20px;
}

.menu-footer {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

#social {
    color: white;
    margin-top: 10px;
}

#social .fab {
margin-right: 10px;
}

#discord-container {
    margin-top: 30px;
    padding-bottom: 20px;
}

#discord-container img {
    width: 10%;
}